body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    background-image: url("../images/bg.png");

}
#app{
    width: 100%;
    height: 100%;
}

#app>div{
    width: 100%;
    height: 100%;
}
#app>div>div{
    width: 100%;
    height: 100%;
}

._container{
    width: 100%;
    position: relative;
    height: 100%;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


.pagecontent{
    width: 100%;
    position: relative;
    background-color: #ededed;
    margin: auto;
    border-radius: 12px;
    border:1px solid #ccc;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    max-width: 1000px;
}

.normal_size{
    font-size: 13px;
}

select {

    font-size: 16px;
    line-height: 16px;
    background: none;
    background-color: #fff;
    border:1px solid #ccc;
    height: 36px;
}
input[type=text] {

    font-size: 16px;
    line-height: 16px;
    background: none;
    background-color: #fff;
    border:1px solid #ccc;
    height: 36px;
}
input[type=file] {

    font-size: 16px;
    line-height: 16px;
    background: none;

    height: 36px;
    padding: 0;
}

input[type=tel] {

    font-size: 16px;
    line-height: 16px;
    background: none;
    background-color: #fff;
    border:1px solid #ccc;
    height: 36px;
}
input[type=password] {

    font-size: 16px;
    line-height: 16px;
    background: none;
    background-color: #fff;
    border:1px solid #ccc;
    height: 36px;
}

input[type=submit]{
    height: 36px;
    width: 85px;
    background: none;
    background-color: #990000;
    border: none;
    color:#fff;
}
textarea {

    font-size: 16px;
    background: none;
    background-color: #fff;
    border:1px solid #ccc;
}

input[type=submit]:hover{
    background-color: rgba(153, 0, 0, 0.75);
}

input[type=button]{
    height: 36px;
    width: 85px;
    background: none;
    background-color: #0b3b8c;
    border: none;
    color:#fff;
}
.titletxt{
    font-size: 22px;
}
label{
    margin-bottom: 0;
}

@media (max-width: 575.98px) {
    .pagecontent{
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (max-width: 767.98px) {
    .pagecontent{
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (max-width: 991.98px) {

}


@media (max-width: 1199.98px) {

}
